<div class="form-group row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <%= f.label :username, 'User Name', class: 'form-label' %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "User Name", class: 'form-control form-control-user', disabled: @user&.is_admin? %>
  </div>
  <div class="col-sm-6">
    <%= f.label :role_id, 'Roles', class: 'form-label' %>
    <%= f.select(:role_id, options_for_select(@select_roles, @user&.role_id || []), { include_blank: 'Please Choose Role', required: true }, class: 'form-select form-control-user', disabled: resource.is_admin? || !current_user.is_admin?) %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <%= f.label :username, 'Name', class: 'form-label' %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: 'form-control form-control-user' %>
  </div>
</div>
<% unless @user&.is_admin? %>
  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :password, 'New Password', class: 'form-label' %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password", class: 'form-control form-control-user' %>
    </div>
    <% if ['new', 'create'].include?(params[:action]) %>
      <div class="col-sm-6">
        <%= f.label :password_confirmation, 'Confirm Password', class: 'form-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: 'form-control form-control-user' %>
      </div>
    <% end %>
  </div>
<% end %>
