<%= render partial: 'layouts/sidebar'%>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Topbar -->
    <%= render partial: 'layouts/nav'%>
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">SKYPRO DASHBOARD</h1>
      <!-- Content Row -->
      <div class="row">
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Orders</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= vnd_currency(@total_order) %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    OSI CA Added Values</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= vnd_currency(@total_added) %> VND</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    OSI Booker Added Values</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= vnd_currency(@total_by_booker) %> VND</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col-xl-6 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Not Added Values</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= vnd_currency(@total_not_add) %> VND</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Total Values</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= vnd_currency(@total) %> VND</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-end py-2">
        <%= link_to "Export Osi", export_osi_ca_path(format: "xlsx"), class: 'btn btn-success pointer-events' %>
      </div>
      <div class="col-md-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Osi CA</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Osi Name</th>
                    <% @osi_ca_month.each do |month| %>
                      <th><%= month %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @osi_cas.each do |key, value| %>
                    <tr>
                      <td>
                        <%= value %>
                      </td>
                      <% @osi_ca_month.each do |month| %>
                        <td><%= load_value_osi(@total_by_osis.dig(key)&.dig(month)) %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Osi Booker</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Osi Name</th>
                    <% @month_years.each do |month| %>
                      <th><%= month %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @osi_bookers.each do |key, value| %>
                    <tr>
                      <td>
                        <%= value %>
                      </td>
                      <% @month_years.each do |month| %>
                        <td><%= load_value_osi(@total_by_osis_booker.dig(key)&.dig(month)) %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Content Wrapper -->

<script type="text/javascript">
  // Set new default font family and font color to mimic Bootstrap's default styling
  // Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
  // Chart.defaults.global.defaultFontColor = '#858796';

  // Pie Chart Example
  // var ctx = document.getElementById("myPieChart");
  // var ctx1 = document.getElementById("myPieChart1");
  // var ctx2 = document.getElementById("myPieChart2");
  // var yValues = <%= raw @data_chart || [] %>;
  // var xValues = ["Total Added", "Total Not Add"];
  // var barColors = [
  //   "#b91d47",
  //   "#00aba9",
  //   "#2b5797",
  //   "#e8c3b9",
  //   "#1e7145"
  // ];
  // var myPieChart = new Chart(ctx, {
  //   type: "pie",
  //   data: {
  //     labels: xValues,
  //     datasets: [{
  //       backgroundColor: barColors,
  //       data: yValues
  //     }]
  //   },
  //   options: {
  //     maintainAspectRatio: false,
  //     title: {
  //       display: true,
  //       text: "Added & Not Add Values"
  //     },
  //      tooltips: {
  //       callbacks: {
  //         title: function(tooltipItem, data) {
  //           return data['labels'][tooltipItem[0]['index']];
  //         },
  //         label: function(tooltipItem, data) {
  //           var label = data['labels'][tooltipItem['index']];
  //           var valueLabel = data['datasets'][0]['data'][tooltipItem['index']];
  //           valueLabel = Number((valueLabel).toFixed(0)).toLocaleString().replaceAll(',', ' ')
  //           return `${label} : ${valueLabel} VND`;
  //         },
  //       },
  //     }
  //   },
  //   plugins: [ChartDataLabels]

  // });
  // var xValues1 = <%= raw @osi_labels || [] %>;
  // var yValues1 = <%= raw @osi_values || [] %>;
  // var myPieChart1 = new Chart(ctx1, {
  //   type: 'bar',
  //   data: {
  //     labels: xValues1,
  //     datasets: [
  //       {
  //         backgroundColor:
  //           ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9",
  //            "#c45850", "#f13b5d", "#fd5d93", "#c36bb7", "#6b72d5", "#43adae", "#316395", "#58bc79","#e3e85a",
  //            "#f1b538", "#eb5e29", "#316395", "#994499", "#22AA99", "#AAAA11","#6633CC", "#E67300", "#8B0707",
  //            "#329262", "#5574A6", "#651067","#F8F8FF", "#F5F5F5", "#DCDCDC", "#FFFFFF", "#000000", "#696969",
  //            "#D3D3D3", "#BEBEBE", "#1C1C1C", "#363636", "#4F4F4F", "#696969", "#828282", "#9C9C9C", "#B5B5B5",
  //            "#CFCFCF", "#E8E8E8", "#A9A9A9", "#778899", "#708090", "#C6E2FF", "#B9D3EE", "#9FB6CD", "#6C7B8B",
  //            "#2F4F4F", "#97FFFF", "#8DEEEE", "#79CDCD", "#528B8B", "#EEE8AA", "#FFFAF0", "#FAFAD2", "#8B4513",
  //            "#A0522D", "#FDF5E6", "#FAF0E6", "#FFEFD5", "#FFEBCD", "#FFE4B5", "#CD853F", "#F5F5DC", "#F4A460",
  //            "#FFFAFA", "#EEE9E9", "#CDC9C9", "#8B8989", "#FFF5EE", "#EEE5DE", "#CDC5BF", "#8B8682", "#FAEBD7",
  //            "#FFEFDB", "#EEDFCC", "#CDC0B0", "#8B8378", "#FFE4C4", "#EED5B7"],
  //         data: yValues1
  //       }
  //     ]
  //   },
  //   options: {
  //     legend: { display: false },
  //     title: {
  //       display: true,
  //       text: 'Values By Osi Ca'
  //     },
  //     scales: {
  //       yAxes: [{
  //         ticks: {
  //           beginAtZero: true,
  //           maxTicksLimit: 10
  //         }
  //       }]
  //     }
  //   },
  //   plugins: [ChartDataLabels]
  // });

  // var xValues2 = <%= raw @osi_booker_labels || [] %>;
  // var yValues2 = <%= raw @osi_booker_values || [] %>;
  // var myPieChart2 = new Chart(ctx2, {
  //   type: 'bar',
  //   data: {
  //     labels: xValues2,
  //     datasets: [
  //       {
  //         backgroundColor:
  //           ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9",
  //            "#c45850", "#f13b5d", "#fd5d93", "#c36bb7", "#6b72d5", "#43adae", "#316395", "#58bc79","#e3e85a",
  //            "#f1b538", "#eb5e29", "#316395", "#994499", "#22AA99", "#AAAA11","#6633CC", "#E67300", "#8B0707",
  //            "#329262", "#5574A6", "#651067","#F8F8FF", "#F5F5F5", "#DCDCDC", "#FFFFFF", "#000000", "#696969",
  //            "#D3D3D3", "#BEBEBE", "#1C1C1C", "#363636", "#4F4F4F", "#696969", "#828282", "#9C9C9C", "#B5B5B5",
  //            "#CFCFCF", "#E8E8E8", "#A9A9A9", "#778899", "#708090", "#C6E2FF", "#B9D3EE", "#9FB6CD", "#6C7B8B",
  //            "#2F4F4F", "#97FFFF", "#8DEEEE", "#79CDCD", "#528B8B", "#EEE8AA", "#FFFAF0", "#FAFAD2", "#8B4513",
  //            "#A0522D", "#FDF5E6", "#FAF0E6", "#FFEFD5", "#FFEBCD", "#FFE4B5", "#CD853F", "#F5F5DC", "#F4A460",
  //            "#FFFAFA", "#EEE9E9", "#CDC9C9", "#8B8989", "#FFF5EE", "#EEE5DE", "#CDC5BF", "#8B8682", "#FAEBD7",
  //            "#FFEFDB", "#EEDFCC", "#CDC0B0", "#8B8378", "#FFE4C4", "#EED5B7"],
  //         data: yValues2
  //       }
  //     ]
  //   },
  //   options: {
  //     legend: { display: false },
  //     title: {
  //       display: true,
  //       text: 'Values By Osi Booker'
  //     },
  //     scales: {
  //       yAxes: [{
  //         ticks: {
  //           beginAtZero: true,
  //           maxTicksLimit: 10
  //         }
  //       }]
  //     }
  //   },
  //   plugins: [ChartDataLabels]
  // });
</script>
