<div class="form-group row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <%= f.label :name, 'Osi Name', class: 'form-label' %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Osi Name", class: 'form-control form-control-user' %>
  </div>
  <div class="col-sm-6">
    <%= f.label :syntax_osi, 'Syntax Osi', class: 'form-label' %>
    <%= f.text_field :syntax_osi, autocomplete: "syntax_osi", placeholder: "Syntax Osi", class: 'form-control form-control-user' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <%= f.label :code, 'Osi Code', class: 'form-label' %>
    <%= f.text_field :code, autofocus: true, autocomplete: "code", placeholder: "Osi Code", class: 'form-control form-control-user' %>
  </div>
  <div class="col-sm-6">
    <%= f.label :limit_value, 'Limit Value', class: 'form-label' %>
    <%= f.text_field :limit_value, autofocus: true, placeholder: "Limit Value", class: 'form-control form-control-user' %>
  </div>
</div>
